* {
  box-sizing: border-box;
  color:#fff;
  font-family: Roboto, Sans-Serif;
}

html {
  /* background-image: linear-gradient(180deg, #667EEA 0%, #764BA2 100%); */
  background:#222;
  background-attachment: fixed;
}

.App {
  /* text-align: center; */
}

.Container {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin:5rem;
}

.InnerContainer {
  
}

.flex-2 {
  flex:2;
}

nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}